@import "lib/variables";
@import "lib/globales";
@import "lib/mixins";

.header{
    width: 100%;
    height: 600px;
    background-color: $blue-esveltico;
    min-width: 350px;
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.header__nav{
    width: 100%;
    display: flex;
    height: 80px;
    background-color: $blue-esveltico;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    &--img{
        height: 70%;
        width: 30%;
        display: flex;
        justify-content: center;
    }
    &--icon{
        display: none;
        @include tablet{ 
            display: initial;
        }
    }
}

.header__nav--items{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a{
        margin: 0 20px 0 20px;
        font-family: $roboto;
        color: $white-esveltico;
        font-size: 0.8rem;
        font-weight: 500;
    }
    a:hover{
        background-color: $white-esveltico;
        color: $black-esveltico;
        border-radius: 4px;
        padding: 5px 1px 5px 1px;
    }
    @include tablet{
        display: none;
    }
}

.header__information{
    position: relative;
    width: 100%;
    height: 100%;
    &--title{
        font-size: 3rem;
        color: $white-esveltico;
        font-family: $ruluko;
        letter-spacing:0.5rem;
        text-align: center;
        padding: 30px 0;
        margin: 30px auto 50px auto;
    }
    &--descrption{
        font-family: $roboto;
        font-weight: 400;
        color: $white-esveltico;
        font-size: 1.2rem;
        text-align: center;
        padding: 10px;  
        margin-right: auto;
        margin-left:auto ;
    }
}

.header__information--button{
    width:100%;
    height: 500px;
    text-align: center;
    margin-top: 130px;
    a{
        background-color: $blue-light;
        color: $white-esveltico;
        font-family: $roboto;
        font-weight: 400;
        padding: 15px 50px;
        border-radius: 20px;
        font-size: 1.4rem;
        color: $white-esveltico; 
    }
    a:hover{
        background-color: $white-esveltico;
        color: $black-esveltico;
    }

    @include tablet{
        margin: 0;
        margin-top: 100px;
    }

    @include mobile{
        margin: 0;
        margin-top: 50px;
    }
}
/* -----------------------------Seccion de informacion------------------------------ */
main{
    width: 100%;
    min-width: 350px;
    height: auto;
}

.information{
    width: 100%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 90px;
}

.information__container{
    height: auto;
    width: 100%;
    max-width: 1050px;
    position: relative;
    margin-left:auto ;
    margin-right: auto;
    padding: 0 15px;
    border-radius: 30px;
    h3{
        letter-spacing: 0.1rem;
        font-family: $roboto;
        font-size: 1.7rem;
        text-align: center;
        font-weight: 500;
    }
    &--toptiltle{
        margin: 150px 0 70px 0;
        @include tablet{
            margin: 0;
        }
        @include mobile{
            margin-bottom: 40px;
        }
    }
    &--downtitle{
        margin: 150px 0 80px 0;
        @include tablet{
            margin: 0;
            margin: 120px 0 40px 0;
        }
        @include mobile{
            margin-top: 90px;
        }
    }
}

.information__article{
    height: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: 1fr;
    @include tablet{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    @include mobile{
        row-gap: 20px;
    }
    p{
        width: 80%;
        height: auto;
        align-self: center;
        color: black;
        font-family: $roboto;
        font-size: 1.2rem;
        font-weight: 300;
        text-align: start;
        @include tablet{
            text-align: center;
        }
    }

    &--toptext{
        justify-self: end;
        @include tablet{
            justify-self: center;
        }
    }

    &--downtext{
        justify-self: start;
        @include tablet{
            justify-self: center;
        }
    }
    &--img{
        display: flex;
    width: auto;
    height: auto;
    justify-self: center;
    align-self: center;    
        img{
            width: 150px;
            height: 150px;
            justify-content: center;
            border-radius: 20px;
        }
    }  
}

/* -----------------------------Seccion de servicios carajo------------------------------- */
.servicios{
    background-color: $blue-esveltico;
    clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
    width: 100%;
    height: auto;
    min-width: 350px;
}

.servicios__container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    max-width: 1050px;
    padding-bottom: 70px;

    &--title{
        width: 100%;
        color: $white-esveltico;
        font-size: 2rem;
        font-weight: 400;
        font-family: $roboto;
        text-align: center;
        padding-bottom: 50px;

        @include tablet{
            margin-top: 60px;
        }
    }
}

.servicios__cards{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    @include tablet{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 1100px;
    }
    
    &--card{
        background-color: $white-esveltico;
        border-radius: 40px;
        width: 350px;
        justify-self: center;
        align-self: center;
        height: 450px;
        display: grid;
        grid-template: repeat(4,1fr) / 1fr;

        @include tablet{
            width: 350px;
        }

        @include mobile{
            width: 250px;
        }

        .card--img{
            justify-self: center;
            align-self: center;
            @include tablet{
                padding-top: 50px;
            }
            img{
                width: 50px;
                height: 50px;
                justify-content: center;  
                
            }
        } 

        h3{
            color: $black-esveltico;
            text-align: center;
            align-self: flex-start;
            font-size: 1.5rem;
            font-family: $roboto;
            font-weight: 700;

            @include tablet{
                align-self: center;
            }
            
        }
        p{
            padding: 0 20px 50px 20px;
            justify-self: center;
            align-self: flex-start;
            color: $black-esveltico;
            font-size: 1.1rem;
            font-family: $roboto;
            font-weight: 300;
            text-align: center;
        }
    }

    .card--button{
        width: auto;
        justify-self: center;
        align-self: center;
        a{
            background-color: $blue-light;
            color: $white-esveltico;
            font-family: $roboto;
            padding: 15px 12px;
            font-weight: 400;
            border-radius: 20px;
            font-size: 1.4rem;
            color: $white-esveltico; 
        }
        a:hover{
            background-color: $black-esveltico;
            color: $white-esveltico ;
        }
    }   
}


// seccion de beneficios ------------------------ 

.beneficios{
    width: 100%;
    height: 800px;
    min-width: 350px;

    &--title{
        color: $black-esveltico;
        font-size: 2rem;
        font-family: $roboto;
        text-align: center;
        font-weight: 500;
        margin-top: 50px;
        padding-top: 20px;
        margin-bottom: 40px;
    }
    &__container{
        max-width: 1050px;
        width: 90%;
        height: 600px;
        background-color: $white-esveltico;
        margin-left: auto;
        margin-right: auto;
    }
}

.container__cards{
    height: 600px;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(2,1fr);
    column-gap: 30px;
    row-gap: 20px;

    @include tablet{
        grid-template: repeat(4,1fr) /1fr;
        height: auto;
        row-gap: 30px;
    }

            .item_1{
                background-color: $blue-light;
            }

            .item_2{
                background-color: #ffdd59;
            }

            .item_3{
                background-color: $yellow-card;
            }

            .item_4{
                background-color: $blue-light;
            }


    .card__item{
        display: grid;
        width: 330px;
        height: 80%;
        justify-self: center;
        align-self: center;
        border-radius: 20px;
        grid-template: repeat(3,1fr) / 1fr ;

        @include tablet{
            width: 350px;
        }

        @include mobile{
            width: 250px;
        }

        
        h4{
            color: white;
            font-family: $roboto;
            font-weight: 500;
            text-align: center;
            font-size: 1.4rem;
            align-self: center;
        }

        p{
            color: $white-esveltico;
            font-family: $roboto;
            font-weight: 500;
            font-size: 1rem;
            text-align: center;
            justify-self: center;
            align-self: center;
            padding: 0 5px 0 5px;
        }
    
        &--img{
            position: relative;
            img{
                position: absolute;
                left: 120px;
                top: 40px;
                border-radius: 20px;

                @include tablet{
                    width: 60px;
                    height: 60px;
                    left: 145px;
                    top: 30px;
                }

                @include mobile{
                    left: 95px;
                    top: 40px;
                }
            }
        }
    }
}




